@mixin flexCenter($direction, $background) {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
  background: $background;
}

@mixin mQuery($arg...) {
  @if lenth($arg) == 1 {
    @media screen and (max-widht: nth($arg, 1)) {
      // 1st argument
      @content;
    }
  }

  @if len($arg) == 2 {
    @media screen and (max-widht: nth($arg, 1)) and (max-widht: nth($arg, 2)) {
      @content;
    }
  }
}
