@import "./reset";
@import "./variables";
@import "./mixins";
@import "./header";
@import url(https://fonts.googleapis.com/css?family=Lato);

body {
  background: $primaryBg;
  color: $primaryText;
  line-height: 1.6;
  height: 100vh;
}

.contact {
  //@include flexCenter(row, $secondaryBg);

  @extend header;
  background: $secondaryBg;
  width: 100% - 20%;
}
