* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main .menu {
  margin: 5px;
}

main .menu .menu-item {
  background-color: teal;
  background-image: linear-gradient(to right, teal, aqua);
  padding: 20px;
  font-size: 2rem;
  color: white;
  text-decoration: none;
}
